.container{
  border: 2px solid black;
  width:350px;
  padding:15px;
  background-color: beige;
  margin-top: 15px;
}
h1{
  background-color: aqua;
  text-align: center;
}
button{
  color: bisque;
  background-color: blueviolet;

}
.form-control{
  width:150px;
  height:25px;
  background-color: rgb(36, 116, 116);
  color:white;
}
.form-check{
  margin-left:80px;
}



