<body>
<div class="container">
  <!--Employee details form-->
  <i>
   <u>
     <h2>Employee details</h2>
    </u>
  </i>
  <!--Form submitting with onsubmit function-->
  <form #form="ngForm" (ngSubmit)="onSubmit(form)" ngNativeValidate>
    <div class="form-group">
      <!--First Name text field-->
      <label for="FirstName">First Name: </label>
      <input id="FirstNme" name="FirstName" class="form-control" type="text"  [(ngModel)]="showEmployee.FirstName" required />

    </div>
    <br>
    <div class="form-group">
      <!--Last Name field-->
      <label for="LastName">Last Name: </label>
      <input id="LastName" name="LastName" class="form-control" type="text"  [(ngModel)]="showEmployee.LastName" required/>
    </div>
    <br>
    <div class="form-group">
      <!--Username text field-->
      <label for="Username">Username: </label>
      <input id="Username" name="Username" class="form-control" type="text"  [(ngModel)]="showEmployee.UserName" required/>
    </div>
    <br>
    <div class="form-group">
      <!--Password text field-->
      <label for="Password">Password: </label>
      <input id="Password" name="Password" class="form-control" type="password" [(ngModel)]="showEmployee.Password" required/>
    </div>
    <br>
    <div class="form-group">
      <!--Email text field-->
      <label for="Email">Email: </label>
      <input id="Email" name="Email" class="form-control" type="text"  [(ngModel)]="showEmployee.Email" required/>
    </div>
    <br>
    <div class="form-group">
      <!--Contact no text field-->
      <label for="Phone">Conatct No: </label>
      <input id="Phone" name="Phone" class="form-control" type="text"[(ngModel)]="showEmployee.Phone" required/>
    </div>
    <br>
        <div class="form-group">
      <!--Address text field-->
      <label for="Address">Address: </label>
      <textarea id="Address" name="Address" class="form-control"   [(ngModel)]="showEmployee.Address" required></textarea>
    </div>
    <br>
    <div class="form-group">
      <!--Experience text field-->
      <label for="exp">Experience: </label>
      <input id="exp" name="exp" class="form-control" type="number" min="2" max="20" [(ngModel)]="showEmployee.exp" required/>
    </div>
    <br>
    <!--Qualification Radio selection-->
    <label for="qualification">Qualification: </label>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="qualification" id="CourseBtech" value="Btech" [(ngModel)]="showEmployee.qualification" checked required>
        <label class="form-check-label" for="CourseBtech">Btech</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="qualification" id="CourseMtech" value="Mtech" [(ngModel)]="showEmployee.qualification" checked required>
        <label class="form-check-label" for="CourseMtech">Mtech</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="qualification" id="CourseBba" value="Bba" [(ngModel)]="showEmployee.qualification" checked required>
        <label class="form-check-label" for="CourseBba">BBA</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="qualification" id="CourseBCa" value="BCA" [(ngModel)]="showEmployee.qualification"checked required>
        <label class="form-check-label" for="CourseBCA">BCA</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="qualification" id="CourseMca" value="Mca" [(ngModel)]="showEmployee.qualification" checked required>
        <label class="form-check-label" for="CourseMca">MCA</label>
      </div>
    </div>
    <br>
    <div class="form-group">
      <label for="Gender">Gender: </label>
      <select class="form-control" name="Gender" id="Gender" [(ngModel)]="showEmployee.Gender" required>
        <option>Male</option>
        <option>Female</option>
        </select>
    </div>
    <br>
    <!--Selecting Languages-->
    <div class="form-group">
      <label for="language">Languages: </label>
      <select class="form-control" name="language" id="language" [(ngModel)]="showEmployee.language" required>
        <option>C</option>
        <option>C++</option>
        <option>Java</option>
        <option>Python</option>
        <option>C#</option>
        <option>Javascript</option>
        <option>Angular</option>
      </select>
    </div>
    <br>
    <!--button form submitting form -->
    <button class="btn btn-primary">Submit</button>
  </form>
</div>
</body>
<!--{{form.value | json}}-->
